<div class="LoginPage">
  <h3><p>Login</p></h3>
  <form #loginForm="ngForm">
    <div class="input-username">
      <h4><p>Username</p></h4>
      <input type="text" class="form-control" placeholder="Username" id="email" name="email" [(ngModel)]="login.email" required>
    </div>
  
    <div class="input-password">
      <h4><p>Password</p></h4>
      <input type="text" class="form-control" placeholder="Username" id="password" name="password" [(ngModel)]="login.password" required>
    </div>
    <button class="btn btn-primary w-100" [disabled]="!loginForm.valid" (click)="onSubmit()">submit</button>
  </form>
</div>
