<div class="container mt-5">
    <div class="table-responsive shadow-lg rounded-3 overflow-hidden">
        <table class="table table-hover align-middle">
            <thead class="bg-dark text-white">
                <tr>
                    <th scope="col" class="text-center">ลำดับ</th>
                    <th scope="col">ชื่อจริง</th>
                    <th scope="col">นามสกุล</th>
                    <th scope="col">เบอร์โทร</th>
                    <th scope="col">อีเมล</th>
                    <th scope="col" class="text-center">ตำแหน่ง</th>
                    <th scope="col" class="text-center">แก้ไขตำแหน่ง</th>
                </tr>
            </thead>
            <tbody class="bg-light">
                <tr *ngFor="let user of users; let i = index">
                    <td class="text-center fw-bold">{{ i + 1 }}</td>
                    <td>{{ user.First_name }}</td>
                    <td>{{ user.Last_name }}</td>
                    <td>{{ user.Phone }}</td>
                    <td>{{ user.Email }}</td>
                    <td class="text-center">
                        <span class="badge rounded-pill bg-success px-3 py-2 text-white" *ngIf="user.Role_name === 'Owner'">{{ user.Role_name }}</span>
                        <span class="badge rounded-pill bg-primary px-3 py-2 text-white" *ngIf="user.Role_name === 'Admin'">{{ user.Role_name }}</span>
                        <span class="badge rounded-pill bg-secondary px-3 py-2 text-white" *ngIf="user.Role_name === 'Customer'">{{ user.Role_name }}</span>
                    </td>                    
                    <td class="text-center">
                        <a href="javascript:void(0)" (click)="ngSubmit(i)" class="text-decoration-none text-primary">
                            <i class="bi bi-pencil-square fs-5 hover-effect"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  