<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login works!</title>
  <link rel="stylesheet" href="login.component.css"> <!-- เชื่อมต่อกับไฟล์ CSS -->
</head>


<div class="LoginPage">
<h3><p>Login</p></h3>
<div class="input-username">
  <h4><p>Username</p></h4>
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-password">
  <h4><p>Password</p></h4>
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Password" aria-describedby="basic-addon1">
</div>
</div>



<br> 
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>