.OmakaseMenu {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #5A3D29;
  border-radius: 12px;
  background-color: #f8f1e4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Lora', serif;
}

.OmakaseMenu h3 p {
  font-size: 26px;
  font-weight: 600;
  color: #5A3D29;
  margin-bottom: 30px;
}

.table {
  border-radius: 10px;
  border: 2px solid #FFD700;
}

.table-dark {
  background-color: #333;
  color: #FFD700;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #5A3D29;
  padding: 10px;
}

.table-hover tbody tr:hover {
  background-color: #f1e5c0;
}

.btn {
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  background-color: #C7A57E;
  border: none;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #5A3D29;
}

body {
  background-color: #E9E8D8;
  padding-top: 50px;
  font-family: 'Lora', serif;
}