  .register-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #5A3D29;
    border-radius: 12px;
    background-color: #f8f1e4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Lora', serif;
}
.register-container h2 p {
    font-size: 26px;
    font-weight: 600;
    color: #5A3D29;
    margin-bottom: 30px;
}

.form-group label {
    font-size: 16px;
    color: #5A3D29;
    font-weight: 500;
}
.form-control {
    border-radius: 10px;
    border: 1px solid #5A3D29;
    padding: 10px;
    font-size: 16px;
}
.form-control:focus {
    border-color: #C7A57E;
    box-shadow: 0 0 5px rgba(199, 165, 126, 0.5);
}
/* Button Styling */
.btn {
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    background-color: #C7A57E;
    border: none;
    color: white;
    transition: background-color 0.3s ease-in-out;
}
.btn:hover {
    background-color: #5A3D29;
}

#checkbox {
    margin-right: 10px;
}
#login-text a {
    color: #5A3D29;
    text-decoration: none;
    font-weight: 500;
}
#login-text a:hover {
    color: #C7A57E;
}

.text-danger {
    font-size: 12px;
    margin-top: 5px;
    color: #E74C3C;
}

body {
    background-color: #E9E8D8;
    padding-top: 50px;
    font-family: 'Lora', serif;
}